body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2e2e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.required-error {
  border-color: #990000;
  color: #990000;
}

.error-message {
  visibility: hidden;
  color: #990000;
}

.form-control.required-error + .error-message {
  visibility: visible;
  color: #990000;
}

.form-control.validated + .error-message {
  visibility: hidden;
  border-color: green;
}

.centered-300 {
  flex: 0 1 300px;
  width: 300px;
  padding: 1rem;
  margin: auto;
  box-sizing: border-box;
  color: #2c2c2c;
}

.form-label {
  font-weight: 700;
}

input.form-control::-webkit-input-placeholder {
  color: #666;
  font-size: .8em;
  opacity: .5;
}

input.form-control::-moz-placeholder {
  color: #6666;
  font-size: .8em;
  opacity: .5;
}

input.form-control:-ms-input-placeholder {
  color: #666;
  font-size: .8em;
  opacity: .5;
}

input.form-control::-ms-input-placeholder {
  color: #666;
  font-size: .8em;
  opacity: .5;
}

input.form-control::placeholder {
  color: #666;
  font-size: .8em;
  opacity: .5;
}

select.form-control {
  color: #666;
  option {
    color: #666;
  }
}

button.submit.form-control {
  flex: 0 1 100%;
  width: 100%;
}
